$modal-border-color: #81a4cd;

#modal-modal-title {
  color: rgb(0 0 0 / 50%);
}

.modal-main-box {
  display: block;
  position: absolute;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border: 1px solid $modal-border-color;
  background-color: white;
  box-shadow: 0 0 15px 1px $modal-border-color;

  .modal-form {
    display: block;
    margin-top: 10px;

    .modal-input-field {
      width: 100%;
      margin-top: 30px;
    }

    .modal-error-message {
      color: red;
      font-weight: bold;
    }

    .modal-confirm-button {
      display: flex;
      width: 30%;
      margin: 30px auto;
    }

    .chip-value {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }

    .modal-action-button {
      font-weight: 600;
    }
  }
}
