.home {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  caret-color: transparent;
  background-color: whitesmoke;
  min-height: 80vh;

  .home-greeting {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 3vh;
    font-weight: bold;
    color: #3498db;
    text-shadow: white 0 0 15px;
    text-align: center;
  }

  .home-description {
    display: flex;
    width: 100%;
    margin: 3vh 0;
    justify-content: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.45);
  }
}