.incomes-box {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .incomes-title {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-weight: 700;
    letter-spacing: 1px;
    color: #3498db;
    user-select: none;
    text-shadow: white 0 0 10px;
  }

  .create-income-button {
    background-color: rgba(0, 255, 0, 0.1);
    border: 2px solid #00ff00;
    color: green;
    margin-bottom: 3vh;

    &:hover {
      background-color: whitesmoke;
      color: lime;
      box-shadow: rgba(0, 255, 0, 0.4) 0 0 5px 3px;
      border: 2px solid #00ff00;
    }
  }

  .income-actions {
    display: flex;
    justify-content: center;
    gap: .5rem;
  }

  .incomes-grid {
    background-color: white;
    padding: 5px;
  }
}