.profile-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: whitesmoke;
  min-height: 80vh;
  padding: 20px;

  .profile-title {
    text-align: center;
    color: #3498db;
    font-weight: bold;
    user-select: none;
    margin-bottom: 2vh;
  }

  .profile-subtitle {
    margin: 2vh 0;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
  }

  .profile-text {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);
  }
}