.side-bar-icon-button {
  margin-right: 1rem;
}

.side-menu {
  width: 250px;
  height: 100%;

  .incomes {
    &:hover {
      background-color: rgb(0 255 0 / 10%);
    }
  }

  .expenses {
    &:hover {
      background-color: rgb(255 0 0 / 10%);
    }
  }

  .transfers {
    &:hover {
      background-color: rgb(0 0 255 / 10%);
    }
  }

  .menu-item {
    padding: 0;

    .head-menu-option {
      font-size: 20px;
      font-weight: 700;
      color: rgb(0 0 0 / 40%);
    }

    .side-menu-option {
      font-size: 20px;
      font-weight: 700;
      color: rgb(0 0 0 / 60%);
    }
  }
}

.side-menu-footer {
  .menu-item {
    padding: 0;

    .about-icon {
      font-size: large;
      font-weight: 600;
      color: gray;
    }

    .side-menu-option {
      font-size: 20px;
      font-weight: 700;
      color: gray;
    }
  }
}
