.board {
  width: 100%;

  .board-title {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-weight: 600;
    color: #3498db;
    text-shadow: white 0 0 10px;
  }

  .board-grid {
    background-color: white;
    padding: 5px;
  }

  .action-buttons {
    display: flex;
    gap: .5rem;

    .action-button {
      font-weight: 600;
    }
  }
}
