.board {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: whitesmoke;
  margin-top: 1vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .board-title {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-weight: 600;
    color: #3498db;
    user-select: none;
    text-shadow: white 0 0 10px;
  }

  .board-grid {
    background-color: white;
    padding: 5px;
  }

  .action-buttons {
    display: flex;
    gap: .5rem;

    .modal-action-button {
      font-weight: 600;
    }
  }
}
