.wallets-container {
  display: flex;
  width: 100%;
  background-color: whitesmoke;
  padding: 30px;

  .wallets {
    width: 100%;

    .add-wallet-button {
      height: 100%;
      width: 100%;
      min-height: 380px;
      background-color: rgb(0 0 255 / 10%);

      &:hover {
        background-color: rgb(0 0 255 / 25%);
        transition: background-color 500ms;
      }
    }
  }
}
