$basic-color: #3498db;

.wallet {
  .wallet-image {
    height: 160px;
  }

  .wallet-name {
    color: $basic-color;
  }

  .wallet-info {
    display: flex;
    gap: 1rem;
    font-weight: 700;
    color: rgb(0 0 0 / 60%);

    .positive-balance {
      color: lightgreen;
    }

    .negative-balance {
      color: lightcoral;
    }
  }

  .wallet-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .config-button {
      color: $basic-color;
      border: none;
      border-radius: 50%;
    }
  }
}
